body {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0px;
    color: white;
    font-family: Helvetica;
}

.frame {
    display: none;
    position: fixed;
    width: 56vh;
    height: 100vh;
    background-color: black;
}

.subframe {
    display: none;
    background-color: black;
    width: 80%;
    height: 90%;
    border: 1px solid #CCC3AB;
    border-radius: 20px;
}

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-spaced {
    justify-content: space-around;
}

.flex-spread {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.no-select {
    user-select: none;
}

.no-margin-top {
    margin-top: 0px
}

.no-margin-bottom {
    margin-bottom: 0px
}

.bottom-buffer {
    margin-bottom: 15px;
}