body {
    display: flex;
    justify-content: center;
    background-color: #333;
    margin: 0px;
    color: white;
    font-family: Helvetica;
}

.frame {
    display: flex;
    width: 56vh;
    height: 100vh;
    background-color: black;
}

.flex {
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-spaced {
    justify-content: space-around;
}