#landing-header {
    width: 85%;
    padding-top: 10%;
}

#landing-diary {
    width: 80%;
    height: 50vh;
    overflow: scroll
}

#landing-diary::-webkit-scrollbar {
    display:none;
}

.landing-title {
    font-size: 1.4em;
    font-family: serif;
    margin: 0px;
    color: #CCC3AB;
}    

.landing-header-icon {
    width: 10%;
}    

.landing-add {
    width: 12%;
}

.entry-uid {
    display: none;
}

.diary-entry {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 20px;
    background-color: #222;
    user-select: none;
    margin-bottom: 5px;
    border-radius: 5px;
}

.diary-entry-date {
    width: 45%;
}

.diary-entry-song {
    text-align: right;
    color: #CCC3AB
}

.diary-entry-song-space {
    padding: 0px 5px;
}