@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#playing-frame {
    overflow-y: hidden;
    top: 100%;
}

#playing-exit {
    position: absolute;
    width: 4vh;
    top: 3vh;
    right: 3vh;
    z-index: 5;
}

#playing-image {
    background-color: #222;
    background-size: cover;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #222;
    border-radius: 0px 0px 30px 30px;
    z-index: 1;
}

#playing-album {
    top: 30%;
    position: absolute;
    width: 70%;
    padding-top: 70%;
    background-color: #555;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 0;
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#playing-album-center {
    position: absolute;
    top: 35%;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 50%;
}

#playing-controls {
    margin-top: 50px;
    margin-bottom: 30%;
    width: 70%;
}

#playing-controls img {
    width: 15%;
}

#playing-subframe {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 12%;
    background-color: black;
    overflow: hidden;
    z-index: 2;
    transition: 0.4s;
}

#playing-subframe-indicator {
    width: 30%;
    height: 5px;
    background-color: white;
    border-radius: 10%;
}

#playing-subheader {
    width: 80%;
    margin-top: 25px;
}

#playing-subheader-options {
    width: 100%;
}

#playing-subheader-options p {
    width: 30%;
    text-align: center;
    color: #AAA;
    user-select: none;
}

#memories-subframe {
    overflow-y: scroll;
}

#memories-subframe::-webkit-scrollbar {
    display: none;
}

.playing-subsubframe {
    display: none;
    position: relative;
    width: 65%;
    height: 80%;
    margin-bottom: 8%;
}

#note-subframe img {
    width: 35%;
}

#note-subframe p {
    position: absolute;
    width: 100%;
    word-break: break-word;
}

.note-end {
    align-self: flex-end;
}

.memory-card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border: 1px solid #CCC3AB;
    border-radius: 5px;
    margin-bottom: 25px;
}

.memory-card-subtitle {
    font-size: 0.6em;
}

#people-memory-list p {
    color: #CCC3AB;
    font-size: 1.2em;
}

#people-memory-description {
    color: white;
    word-break: break-word;
}

#audio-memory-card audio {
    width: 100%;
    height: 35px;
}