<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <!-- Intro Frame -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/intro.css' %}">
        <div id="intro-frame" class="frame flex flex-vertical flex-center flex-spaced">
            <div class="flex flex-vertical flex-center">
                <img class="intro-logo" src="{% static 'img/logo.svg' %}">
                <h1 class="intro-title">MUZED</h1>
            </div>
            <div class="flex flex-vertical flex-center">
                <button class="intro-btn">Start</button>
                <p class="intro-subtitle">Dear Acoustic Memories</p>
            </div>
        </div>
    
        <!-- Landing Frame -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
        <div id="landing-frame" class="frame flex-vertical flex-center flex-spread">
            <div id="landing-header" class="flex flex-horizontal flex-center flex-spread">
                <img id="landing-filter" class="landing-header-icon no-select" src="{% static 'img/filter.svg' %}">
                <h1 class="landing-title">DIARY</h1>
                <img id="landing-notification" class="landing-header-icon no-select" src="{% static 'img/notice.svg' %}">
            </div>
            <div id="landing-diary" class="flex flex-vertical">
                <div v-for="entry in entries" class="diary-entry flex flex-horizontal flex-spread">
                    <p class="entry-uid">[[entry.id]]</p>
                    <p class="diary-entry-date">[[entry.date]]</p>
                    <div class="flex flex-horizontal flex-spaced">
                        <p class="diary-entry-song">[[entry.title]]</p>
                    </div>
                </div>
            </div>
            <img class="landing-add no-select" src="{% static 'img/add.svg' %}">
            <div class="flex flex-horizontal flex-center"></div>
        </div>

        <!-- Logging Frame -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/logging.css' %}">
        <div id="logging-frame" class="frame flex flex-vertical flex-center">
            <!-- Header Options -->
            <img src="{% static 'img/log/back.svg' %}" id="previous-log">
            <img src="{% static 'img/log/exit.svg' %}" id="exit-log">
            <!-- First Logging Frame -->
            <div id="logging-subframe-1" class="subframe flex-vertical flex-center flex-spaced">
                <h1 class="logging-title no-margin-bottom">Mandatory Field</h1>
                <p class="logging-page no-margin-top">(1/2)</p>
                <img src="{% static 'img/music-add.svg' %}" id="music-add" class="album-cover logging-music-album">
                <p class="logging-music-title no-margin-top no-margin-bottom">Music Title</p>
                <p class="logging-music-artist no-margin-top">Artist Name</p>
                <textarea id="logging-story" class="logging-textarea logging-textinput" placeholder="What is the story behind this song?"></textarea>
                <div class="logging-bottom flex flex-horizontal flex-spread">
                    <button id="add-tag-log" class="log-first-option">Add Tag</button>
                    <button id="pre-finish-log" class="log-first-option">Finish</button>
                </div>
            </div>
            <!-- Searching Frame -->
            <div id="logging-search" class="subframe flex-vertical flex-center flex-spaced">
                <input type="text" id="logging-search-input" class="logging-textinput" placeholder="Search for your song">
                <div id="search-result" class="flex-vertical flex-center">
                    <h1 id="search-title"></h1>
                    <p id="search-artist"></p>
                    <img src="" id="search-album" class="album-cover">
                </div>
                <div id="logging-search-add" class="logging-bottom flex-horizontal flex-spaced">
                    <button id="add-search-log" class="log-first-option">Add</button>
                </div>
            </div>
            <!-- Second Logging Frame -->
            <div id="logging-subframe-2" class="subframe flex-vertical flex-center flex-spaced">
                <h1 class="logging-title no-margin-bottom">Tag Options</h1>
                <p class="logging-page no-margin-top">(2/2)</p>
                <input type="date" class="logging-textinput logging-dateinput">
                <div class="tag-options flex flex-vertical">
                    <div id="go-tagging-people" class="tag-option flex flex flex-horizontal flex-spread">
                        <p class="tag-text">Add Related People</p>
                        <img src="{% static 'img/option_arrow.svg' %}">
                    </div>
                    <div id="go-tagging-mood" class="tag-option flex flex flex-horizontal flex-spread">
                        <p class="tag-text">Add Mood</p>
                        <img src="{% static 'img/option_arrow.svg' %}">
                    </div>
                    <div class="tag-option tag-option-bottom flex flex flex-horizontal flex-spread">
                        <p class="tag-text">Add Location</p>
                        <img src="{% static 'img/option_arrow.svg' %}">
                    </div>
                </div>
                <div class="tag-image flex flex-vertical">
                    <p class="tag-text">Photos</p>
                    <label id="add-image" class="flex flex-center">
                        <img src="{% static 'img/plus.svg' %}">
                        <input type="file" id="log-image-input" class="hidden">
                    </label>
                </div>
                <div class="tag-audio flex flex-vertical">
                    <p class="tag-text">Audio Recording</p>
                    <div id="audio-record" class="flex flex-horizontal flex-spread">
                        <img src="{% static 'img/record.svg' %}">
                        <p class="tag-subtext">Press here to start recording...</p>
                    </div>
                </div>
                <div class="flex flex-vertical bottom-buffer">
                    <button id="finish-log" class="log-submit-option">Finish</button>
                </div>
            </div>
            <!-- People Tagging Frame -->
            <div id="tagging-people" class="subframe flex-vertical flex-center flex-spread">
                <h1 class="logging-title no-margin-bottom">Add People Tag</h1>
                <input type="text" id="person-input" class="logging-textinput" placeholder="Add Person's Name">
                <div id="people-list">
                    <ul v-for="person in list">
                        <li>[[person]]</li>
                    </ul>
                </div>
                <textarea id="people-detail" class="logging-textarea logging-textinput bottom-buffer" placeholder="Give a brief descript about this person or people?"></textarea>
            </div>
            <!-- Mood Tagging Frame -->
            <div id="tagging-mood" class="subframe flex-vertical flex-center flex-start">
                <h1 class="logging-title no-margin-bottom">Add Mood Tag</h1>
                <div class="mood-list flex flex-horizontal flex-center flex-spread flex-wrap">
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/happy.svg' %}" class="mood-image">
                        <p class="mood-text">HAPPY</p>
                    </div>
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/sad.svg' %}" class="mood-image">
                        <p class="mood-text">SAD</p>
                    </div>
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/mad.svg' %}" class="mood-image">
                        <p class="mood-text">MAD</p>
                    </div>
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/hopeful.svg' %}" class="mood-image">
                        <p class="mood-text">HOPEFUL</p>
                    </div>
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/blue.svg' %}" class="mood-image">
                        <p class="mood-text">BLUE</p>
                    </div>
                    <div class="mood-item flex flex-vertical flex-center">
                        <img src="{% static 'img/emoji/excited.svg' %}" class="mood-image">
                        <p class="mood-text">EXCITED</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Playing Frame -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/playing.css' %}">
        <div id="playing-frame" class="frame flex-vertical flex-center flex-spread">
            <img src="{% static 'img/log/exit.svg' %}" id="playing-exit">
            <img src="{% static 'img/share.svg' %}" id="playing-share">
            <img src="{% static 'img/music/edit.svg' %}" id="playing-edit">
            <img src="{% static 'img/log/trash.svg' %}" id="playing-trash">
            <div id="playing-image">
            </div>
            <div id="playing-album" class="flex flex-center">
                <div id="playing-album-center"></div>
            </div>
            <div id="playing-controls" class="flex flex-horizontal flex-center flex-spaced">
                <img src="{% static 'img/music/shuffle.svg' %}" class="hidden">
                <img src="{% static 'img/music/previous.svg' %}" class="hidden">
                <img src="{% static 'img/music/pause.svg' %}" id="playing-start">
                <img src="{% static 'img/music/forward.svg' %}" class="hidden">
                <img src="{% static 'img/music/repeat.svg' %}" class="hidden">
            </div>
            <div id="playing-subframe" class="flex flex-vertical flex-center flex-spread">
                <div id="playing-subheader" class="flex flex-vertical flex-center">
                    <div id="playing-subframe-indicator"></div>
                    <div id="playing-subheader-options" class="flex flex-horizontal flex-spaced">
                        <p>LYRICS</p>
                        <p id="playing-notes">MY NOTE</p>
                        <p id="playing-memories">MEMORIES</p>
                    </div>
                </div>
                <div id="note-subframe" class="playing-subsubframe flex flex-vertical flex-spaced">
                    <img src="{% static 'img/music/note_start.svg' %}">
                    <p id="note-subframe-text"></p>
                    <img src="{% static 'img/music/note_end.svg' %}" class="note-end">
                </div>
                <div id="memories-subframe" class="playing-subsubframe flex flex-vertical">
                    <div id="people-memory-card" class="memory-card">
                        <p class="memory-card-subtitle">PEOPLE RELATED TO THIS SONG</p>
                        <div v-for="name in list" id="people-memory-list">
                            <p>[[name]]</p>
                        </div>
                        <p id="people-memory-description">[[description]]</p>
                    </div>
                    <div id="mood-memory-card" class="memory-card">
                        <p class="memory-card-subtitle">MOODS RELATED TO THIS SONG</p>
                        <img src="" id="mood-memory-img">
                    </div>
                    <div id="audio-memory-card" class="memory-card">
                        <p class="memory-card-subtitle">SOUNDS RELATED TO THIS SONG</p>
                        <audio controls>
                            <source src="">
                        </audio>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sharing Frame -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/sharing.css' %}">
        <div id="share-frame" class="frame flex-vertical flex-center flex-spread">
            <img src="{% static 'img/log/exit.svg' %}" id="share-exit">
            <div id="share-header" class="flex flex-vertical flex-center flex-spaced">
                <h1>PRESENT LOG</h1>
                <p>Present your dearest memory to your friends and families</p>
                <p>You are sharing "[[shareName]]" by [[shareArtist]]</p>
            </div>
            <div id="share-content" class="flex flex-center">
                <div id="share-image"></div>
                <div id="share-album" class="flex flex-center">
                    <div id="share-album-center"></div>
                </div>
            </div>
            <div id="share-footer">
                <!-- <button id="share-preview" class="share-btn">Preview</button> -->
                <button id="share-finish" class="share-btn">Share</button>
            </div>
        </div>

        <!-- Load CSRF -->
        {% csrf_token %}
        <script>
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
        <!-- Load Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- Load Scripts -->
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>